{% assign photo_caption = include.photo.alt | default: '' %}
{% assign photo_400 = include.photos_root_path | append: '/400/' | append: include.photo.id | append: '-400.webp' %}
{% assign photo_800 = include.photos_root_path | append: '/800/' | append: include.photo.id | append: '-800.webp' %}
{% assign photo_1600 = include.photos_root_path | append: '/1600/' | append: include.photo.id | append: '-1600.webp' %}
{% assign photo_folder = include.photos_root_path | split: '/' | last %}
{% assign generated_dimensions = site.data.photo_dimensions[photo_folder][include.photo.id] %}
{% assign photo_width = include.photo.width %}
{% assign photo_height = include.photo.height %}
{% if generated_dimensions %}
  {% assign photo_width = generated_dimensions.width %}
  {% assign photo_height = generated_dimensions.height %}
{% endif %}
{% assign fallback_label = 'Voir la photo ' | append: include.photo_index | append: ' du logement - ' | append: include.section_title %}
<a
  href="{{ photo_1600 }}"
  data-pswp-srcset="{{ photo_400 }} 400w, {{ photo_800 }} 800w, {{ photo_1600 }} 1600w"
  {% if photo_width and photo_height %}data-pswp-width="{{ photo_width }}" data-pswp-height="{{ photo_height }}"{% endif %}
  {% if photo_caption != '' %}aria-label="{{ photo_caption }}"{% else %}aria-label="{{ fallback_label }}"{% endif %}
  data-section-title="{{ include.section_title }}"
  class="block overflow-hidden rounded-xl"
>
  <img
    src="{{ photo_400 }}"
    srcset="{{ photo_400 }} 400w, {{ photo_800 }} 800w, {{ photo_1600 }} 1600w"
    sizes="(min-width: 1024px) 38vw, (min-width: 640px) 50vw, 100vw"
    {% if photo_width and photo_height %}
    width="{{ photo_width }}"
    height="{{ photo_height }}"
    {% endif %}
    alt=""
    loading="lazy"
    class="block w-full aspect-[4/3] object-cover hover:scale-105 transition-transform duration-300"
  />
</a>
